* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('zvGXkU.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-color: black;
}

.gameboard-img img{
    /* border:2px solid blue; */
    margin-top: 10%;
    margin-left: 18%;
    margin-right: auto;
    width: 50%;
}

.circles {
    /* border:2px solid red; */
    position:relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: -490px;
    margin-left: 22%;
    width: 620px;
   
}

.circles > img {
    margin:0;
    padding:0 7px 0 7px;
    width: 70px;
    height:70px;
}


.player-one {
    background-image: url('./p1.svg')
}

.player-two {
    background-image: url('./p2.svg')
}








